<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.UserMapper">

	<select id="readUser" parameterType="String" resultType="User">
		select		u_id as username,
						password,
						name,
						phone,
						isAccountNonExpired,
						isAccountNonLocked,
						isCredentialsNonExpired,
						isEnabled,
		from		user
		where		1=1
		and			u_id = #{username}
	</select>
	
	<select id="readAuthorities" parameterType="String" resultType="org.springframework.security.core.authority.SimpleGrantedAuthority">
		select			u_auth
		from			u_auth
		where			1=1
		and				u_id = #{username}
	</select>
	
	<insert id="createUser" parameterType="User">
		insert into user (
						u_id,
						password,
						name,
						isAccountNonExpired,
						isAccountNonLocked,
						isCredentialsNonExpired,
						isEnabled
				) values (
						#{username},
						#{password},
						#{name},
						#{isAccountNonExpired},
						#{isAccountNonLocked},
						#{isCredentialsNonExpired},
						#{isEnabled}
				)
	</insert>
	
	<insert id="createAuthority" parameterType="org.springframework.security.core.GrantedAuthority">
		insert into u_auth (
						u_id,
						u_auth
				) values 
				<foreach collection="authorities" item="authority" index="index" separator=",">
						( #{username}, #{authority.role} )
				</foreach>
				ON DUPLICATE KEY
					UPDATE u_id = #{username}
	</insert>

</mapper>